@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400;700&display=swap');

/* General styles */
@layer base {
  body {
    @apply bg-background-color text-gray-800; /* Use background and text classes */
    font-family: 'Roboto', sans-serif; /* Directly apply the Roboto font */
  }

  h1, h2, h3 {
    font-family: 'Playfair Display', serif; /* Directly apply the Playfair Display font */
    color: var(--primary-color); /* Use the custom property directly */
  }
}
